.container {
    margin: 3.125rem auto;
    max-width: 37.5rem;
    background-color: rgb(28, 165, 250);
    border-radius: 2rem;
    padding: 1.25rem;
    align-items: center;
}

.col-lg {
    width: 75%;
    max-height: 80%;
}

.carusel-photo {
    width: 100%;
    border-radius: 1.875rem;
}

.col-sm {
    max-height: 80%;
    width: 20%;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
}

button i {
    font-size: 1.875rem;
}

.thumbnail {
    width: 100%;
    border-radius: 1.25rem;
    margin-top: .1875rem;
    margin-bottom: .1875rem;
}

.grayed {
    filter: brightness(0.5);
    filter: saturate(0);
}
